#wrapper
{
   margin: 0 auto;
   width: 100%!important;
}
.centerimg
{
    padding: 18px;
    width: 96%;

}
#mainpicture
{
    width: 100%;    
    background-color: white;
    border: 2px solid #777; 
}
#littlepictures > .unhover
{
    margin: 10px;
    float: left;
    width: 14%;
    background-color: white;
    border: 2px solid #777; 
}
.hover
{
    margin: 10px;
    float: left;
    width: 14%;
    background-color: white;
     border: 2px solid yellow; 
}
.littlepicture
{
    padding-top: 10px;
    padding: 7px;
    width: 90%;
    

}